/*
Color scheme:
292F36 - gunmetal
4ECDC4 - medium turquoise
F7FFF7 - mint cream
FF7878 - coral reef
FFEC94 - flavescent
*/

* { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body {
  background-color: #FFF;
}

h1 {
  display: flex;
  text-align: center;
  font-size:6vw
}

h2 {
  text-align: center;
  font-size:4vw
}

h3 {
  font-size:2.5vw;
}

h4 {
  font-size:2.0vw;
  font-weight: 100;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: #4ECDC4;
  color: #F7FFF7;
  position: fixed;
  clear:both;
}


main {
  display: block;
  width: 60%;
  margin: 7% auto;
}

#main-img {
  margin: 7% auto;
  
}

.specialties {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 45%;
  margin: 5px;
}

#previous-work {
  display: inline-block;
  text-align: center;
  font-size: 250%;
  color: #F7FFF7;
  width: 100%;
}

#article-section {
  background-color: #FF7878;
  display: inline-block;
  width: 100%;
  
}

.articles {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 29%;
  margin: 5px;
}

footer {
  background-color: #292F36;
  color: #F7FFF7;
  width: 100%;
  height: 20%;
}

.footer-div{
  padding: 10px;
  float:left;
  width: 29%;
}